* {
	padding: 0;
	margin: 0;
	border: 0;
}
h1 {
	font-family: 'Homemade Apple', cursive;
}
#header {
	margin: auto;
	padding-top: 30px;
	width: 600px;
	text-align: center;
}
#container {
	width: 900px;
	margin: auto;
}
#bio {
	width: 450px;
	float: left;
	margin-right: 20px;
	font-family: 'Homemade Apple', cursive;
}
h3 {
	text-align: right;
}